@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey-1: #e9e9e9;
  --grey-2: #a0a0a0;
  --grey-3: #737373;
  --grey-4: #494949;
  --grey-5: #212121;
  --grey-6: #1c1c1c;
}
img {
  width: 100%;
}
body {
  font-family: "Manrope", sans-serif;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.container {
  max-width: 1440px;
  width: 80%;
  margin-inline: auto;
}
section {
  margin-block: 7rem;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--grey-2);
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 24px 12px;
  background-color: rgba(171, 239, 95, 0.5);
  border-radius: 50px;
  color: var(--grey-5);
  font-weight: 700;
  font-size: 1.1rem;
  display: inline-block;
}
.btn_wrap a i {
  margin-left: 10px;
}

.description {
  font-weight: 500;
  font-size: 1rem;
  color: var(--grey-4);
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--grey-6);
  line-height: 2.5rem;
}
.subtitel {
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--grey-5);
}
.section_titel_des{
  text-align: center;
}
.bg_add{
  background-color: rgba(171, 239, 95, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.section_titel_des span{
  font-weight: 700;
  font-size: 0.9rem;
 }
.section_titel_des h2{
  font-weight: 800;
  color: var(--grey-6);
  margin-block: 1.6rem;
  font-size: 3rem;
}
.section_titel_des p{
 max-width: 42rem;
 margin: 0 auto;
}
/* Header */
.nav {
  padding-block: 2rem;
}
.navbar_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_link ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.nav_src {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.nav_src i {
  color: var(--grey-2);
}
.menu_icon {
  display: none;
}
.menu_icon i {
  font-size: 1.5rem;
  font-weight: 600;
}
.header_wrap {
  text-align: center;
  margin-top: 2rem;
}
.header_bg {
  display: block;
}
.header_details {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
}
.header_bg img {
  max-width: 35.7rem;
  max-height: 21.9rem;
}
.header_details p {
  max-width: 61.5rem;
}
.header_details h1 {
  font-size: 4rem;
  font-weight: 800;
  max-width: 64.1rem;
}

/* About us */
.about_us {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.vector_img {
  display: block;
}
.vector_img img {
  max-width: 6.25rem;
}
.vector_img p {
  margin-left: 2.5rem;
  font-weight: 500;
  margin-top: 1.1rem;
}
.about_us_titel_subTitel h2 {
  max-width: 30rem;
  line-height: 3rem;
  margin: 1.1rem 0rem;
}
.about_us_titel_subTitel p {
  max-width: 31rem;
}
.about_card {
  display: flex;
  align-items: center;
  margin-top: 2.7rem;
  gap: 1.8rem;
}
.about_card p {
  max-width: 20rem;
  margin-top: 0.5rem;
  color: var(--grey-3);
}
.about_card img {
  max-width: 4rem;
}
.about_us_right_img img {
  width: 90%;
  text-align: center;
  padding-top: 2.7rem;
}

/* Details section  */
.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.details_card i{
  font-size:2.5rem;
  color: var(--grey-3);
}
.details_card h2{
  color: var(--grey-4);
  margin: 0.7rem 0rem;
}
.details_card p{
  color: var(--grey-3);
  font-weight: 700;
}
/* Work */
.work_card_wrap{
  margin-top: 2.5rem;
}
.work_card_wrap{
display: flex;
gap: 1.5rem;
align-items: center;
justify-content: center;
}
.work_card{
  padding: 1.5rem 1.5rem 1.5rem;
  border-radius: 1rem;
  text-align: start;
  max-width: 17rem;
}
.work_card_wrap div:first-child{
  background-color: rgb(231, 193, 211);
}
.work_card_wrap div:nth-child(2){
  background-color: rgb(239, 218, 110);
}
.work_card_wrap div:nth-child(3){
  background-color: rgb(164, 218, 195);
}
.work_card_wrap div:nth-child(4){
  background-color: rgb(119, 170, 234);
}
.work_card i{
  font-size: 2.7rem;
  color: var(--grey-6);
}
.work_card h3{
  margin: 0.7rem 0rem;
}